@charset "utf-8";
/* CSS Document */
*{
	padding: 0;
	margin: 0;
}
body{
	background-color: #fbfbfb;
	font-size: 18px;
}
table{
	width: 600px;
	margin: 0 auto;
}
table,td,th{
	border: black 1px solid;
	border-collapse: collapse;
	text-align: center;
}
caption{
	font-weight: bold;
	margin-top: 50px;
	line-height: 30px;
}
th{
	background-color: #328AA4;
	color: #fff
}
tr{
	background-color: #E5F1F4
}
table tr:nth-child(even){
	background-color: #FDFBCC
}
